body {
    background: #f6f6f6;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 10px;
    width: 340px;
    overflow-y: hidden;
}

#navbar {
    position: relative;
    display: flex;
    justify-content: space-between; 
    margin-bottom: 15px;
}

#navbar ::after{
    content: '';
    position: absolute;
    bottom : -7px;
    right: 0;
    left: 0;
    height: 1px;
    background: #b8b8b8;
}

#navbar button {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px 12px; 
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #000; 
    cursor: pointer;
    flex: 1;
    margin: 0 5px; 
    transition: background 0.3s ease, color 0.3s ease;
    text-align: center;
}

#navbar button.tab-active {
    background: #0066ff;
    color: #fff;
}

.tab-content {
    display: none;
}

.tab-content.tab-active {
    display: block; 
    padding: 15px;
    padding-top: 8px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

/* Just some padding for the headings enjoy :) */
.tab-content h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 0;
    margin-left: 5px;
}

.table-wrap {
    max-height: 145px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 6px;
    background: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background: #0066ff;
    color: #fff;
    padding: 2px 8px 2px 3px;
    position: sticky;
    top: 0;
    text-align: left;
}

thead th:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

thead th:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

thead th::after {
    content: '';
    background: #fff;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 10px;
}

tbody tr:hover {
    background: #f0f8ff;
    cursor: pointer;
    transition: background 0.2s ease-in;
}

.input-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    /* margin-bottom: 10px; */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-block input {
    width: calc(100% - 20px);
}

/* Buttons (Clear, Submit, Save) */
button {
    background: #0066ff;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

/* Button hover state */
button:hover {
    background: #004bb5;
}

#clear-search {
    background: #ff0800;
}

#clear-search:hover {
    background: #b51e00;
}

/* Disabled buttons */
button:disabled {
    background: #ddd;
    color: #999;
    cursor: not-allowed;
}

.check-block {
    flex-direction: row;
    justify-content: space-evenly;
}

.check-block > div {
    display: flex;
    flex-direction: row;
    gap: 6px;
    height: 18px;
    margin: 5px 0;
}

.check-icon {
    display: block;
    height: 8px;
    width: 8px;
    align-self: center;
    background: #666;
    border-radius: 50%;
}

.mb0 {
    margin-bottom: 0;
}

.mt0 {
    margin-top: 0;
}

.ml0 {
    margin-left: 0;
}

.mr0 {
    margin-right: 0;
}