body {
    --display: flex;
    --justify-content: center;
    position: relative;
    background: #fff;
    min-height: 1122px;
    text-align: center;
    font-family: Arial, sans-serif;
    width: 794px;
    border: solid 1px rgb(16, 3, 3);
    margin: 1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%
}

.container > h1 {
    text-align: center;
    margin-top: 20px;
}

#control {
    position: absolute;
    display: flex;
    gap: 16px;
    top: 20px;
    right: 20px
}

#control > a > i {
    /* width: 18px;
    height: 18px; */
    color: rgb(43, 43, 163);
}

#report {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 100%; */
    padding: 20px;
}

#report > h3 {
    text-align: left;
}

#report > p {
    line-break: loose;
    text-align: left;
}